<h1>Actualiza tu perfil</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <%= @user.inspect %>

    <%= form_for(@user) do |f| %>
      


      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>
    
  </div>
</div>